
/** legalnoticel **/

#legalnoticel{
	width: auto;
	margin: 0;
	padding: 0;
}

#legalnoticel .block_title{	margin-bottom: 15px;}

#legalnoticel dl{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	font-size: 11px;
	line-height: 1.2;
	text-align: left;
	border-bottom: 1px dotted #ddd;
	margin: 0 15px;
	padding: 10px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#legalnoticel dl:first-of-type{	padding-top: 0;}
#legalnoticel dt{
	width: 140px;
	margin: 0;
	padding: 0;
	color: #004098;
}
#legalnoticel dd{
	width: calc(100% - 140px);
	margin: 0;
	padding: 0;
}

#legalnoticel dd li{
	position: relative;
	margin: 0 0 5px 0;
}
#legalnoticel dd li:last-of-type{	margin-bottom: 0;}


/*=================================================
 * CSS for SP
 * ================================================= */

@media screen and (max-width: 750px) {

	#legalnoticel dl{
		width: auto;
		display: block;
	}
	#legalnoticel dt{
		width: auto;
		margin: 0 0 5px 0;
		padding: 0;
	}
	#legalnoticel dt br{	display: none;}
	#legalnoticel dd{
		width: auto;
		margin: 0;
		padding: 0;
	}
}