.prof_box{
    display: flex;
    align-items:center;
    width: 600px;
    margin: 0 auto 15px;
    border: 1px solid #ccc;
    padding: 10px 20px;
}


.prof_box .img{
    display: inline-block;
    vertical-align: top;
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
}

.prof_box .img img{
    width: 100%;
    max-width: 65px;
    height: auto;
}

.prof_box .name{
    width: auto;
    text-align: left;
    padding-left: 20px;
}

.prof_box .name span{
    font-size:14px;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
}

.list_table{
    width: 600px;
}

.list_table tr th{
    text-align: center;
}

.list_table tr th:nth-child(1){
    width: 60px;
}

.list_table tr th:nth-child(2){
    width: auto;
}

.list_table tr th:nth-child(3){
    width: 150px;
}

.list_table tr td:nth-child(1){
    text-align: center;
}

.list_table tr td:nth-child(2){
    text-align: left;
}

.list_table tr td:nth-child(3){
    text-align: center;
}